/*
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
*/



	iron-icon {
		padding-left: 5px !important;
		padding-right: 15px;
		border: 0px solid red;
	}
  
  /* Make all toolbar titles in this host green by default */
	paper-menu {
    --paper-menu-background-color: var(--primary-color);
		--paper-menu-color: #eeeeee;
	}
	div>paper-menu {
		border-right: 1px solid #CCCCCC;
	}
  
  
	paper-menu paper-menu {
		margin-left: 50px;
        --asdfpaper-menu-background-color: red; /*#3f51b5;*/
      --asdfpaper-menu-color: red;
	  }
	  
	div>paper-menu paper-item {
		border-top: 1px solid #AAAAAA;
	}
  

a {
  text-decoration: none;
}
a:visited {
  color: white;
}


paper-drawer-panel {
  --paper-drawer-panel-left-drawer-container: {
    background-color: var(--primary-color);
  };

  --paper-drawer-panel-main-container: {
  }
}

router-outlet {
      margin-left: 10px;
    margin-right: 10px;

}
    app-toolbar {
      background: var(--primary-color);
      color: var(--dark-theme-text-color);
      
      background-image: url('images/header_logo.png'); 
      background-size: 200px; 
      background-repeat: no-repeat; 
      background-position: center center ; 
      height: 60px;
    }

    app-toolbar.raised {
      @apply(--shadow-elevation-4dp);
    }

    paper-icon-button {
      position: absolute;
      top: 12px;
  }

	  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.indigo:hover {
    background-color: var(--paper-indigo-400);
  }